.center-both {
    width: 70%;
    margin: 0 auto;
  }

  h1, h2, h3  {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 32px;
  }
  
  table, th, td, tr {
    border: 1px solid black;
  }

  figcaption
  {
    font-style: italic;
    font-size: 12pt;
  }

  p {
    margin-bottom: 10px;
  }
  figure {
    float: right;
    margin-right: 0;
    margin-left: 10;
    margin-top: 0;
  }

  .photo img{
   margin-top: -40px;
  }
